@model MVCTimetable.Models.AdminDeleteViewModel
@{
    ViewBag.Title = "AdminDelete";
}

<h2>Löschung gegründeter Verkehrsverbindung aufgrund ID</h2><br/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.IdConnection, new { @class="control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdConnection, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.IdConnection,"",new { @class="text-danger"})
            </div>
        </div><br/>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="finden" class="btn btn-default" />
            </div>
        </div>

    </div>
}

